@font-face {
	font-weight: 800;
	font-family: 'SofiaSansCondensed-ExtraBold';
	font-style: normal;
	src: url('/symbol/fonts/SofiaSansCondensed-ExtraBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 400;
	font-family: 'Protipo-Regular';
	font-style: normal;
	src: url('/symbol/fonts/Protipo-Regular.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: 'Protipo-Bold';
	font-style: normal;
	src: url('/symbol/fonts/Protipo-Bold.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: 'JetBrainsMono-Bold';
	font-style: normal;
	src: url('/symbol/fonts/JetBrainsMono-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: 'Carbon-Bold';
	font-style: normal;
	src: url('/symbol/fonts/Carbon-Bold.ttf') format('truetype');
	font-display: swap;
}
