{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}
  <h2 class="text-center py-4">{{ title }}</h2>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>address</th>
        <th>name</th>
        <th>endpoint</th>
        <th>balance</th>
        <th>version</th>
        <th>height</th>
        <th>finalized height</th>

        {% if show_voting %}
        <th>voting end epoch</th>
        <th>expiration (days)</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for descriptor in descriptors %}
      <tr class="{{ 'table-' + version_to_css_class(descriptor.version) }}">
        <th scope="row">{{ loop.index }}</th>
        <td class='text-monospace'>
          <a href="{{ explorer_endpoint }}/accounts/{{ descriptor.main_address }}" target="_blank">
            {{ descriptor.main_address }}
          </a>
        </td>
        <td>
          <span class="bbcode">{{ descriptor.name }}</span>
          {% if show_voting %}
            {% if 'PREVOTE' in descriptor.current_epoch_votes %}
              <span class="badge badge-pill badge-info">V</span>
            {% endif %}
            {% if 'PRECOMMIT' in descriptor.current_epoch_votes %}
              <span class="badge badge-pill badge-success">C</span>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if descriptor.endpoint.endswith(":3000") %}
          <a href="{{ descriptor.endpoint }}/node/info" target="_blank">
            {{ descriptor.endpoint }}
          </a>
          {% else %}
          {{ descriptor.endpoint }}
          {% endif %}
        </td>
        <td class="text-right">{{ descriptor.balance | round | int }}</td>
        <td>{{ descriptor.version }}</td>
        <td>{{ '' if not descriptor.height else descriptor.height }}</td>

        {% if descriptor.finalized_info %}
        <td>{{ '' if not descriptor.finalized_info.height else descriptor.finalized_info.height }}</td>
        {% else %}
        <td>{{ '' if not descriptor.finalized_height else descriptor.finalized_height }}</td>
        {% endif %}

        {% if show_voting %}
        <td class="voting-end-epoch">{{ descriptor.voting_end_epoch }}</td>
        <td class="voting-expiry">{{ descriptor.voting_expiry }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    function update_voting_key_expiry() {
      Promise.all([
        fetch('{{ url_for("api_symbol_epoch") }}', {headers: {'Content-Type': 'application/json'} }).then(response => response.json()),
        fetch('{{ url_for("api_symbol_network_config") }}', {headers: {'Content-Type': 'application/json'} }).then(response => response.json())
      ])
      .then(([epoch, network_config]) => {
          const currentEpoch = epoch['epoch'];
          const targetBlockGenerationTime = network_config['targetBlockGenerationTime'];
          const votingSetGrouping = network_config['votingSetGrouping'];

          // Update each row's expiry days
          document.querySelectorAll('tbody tr').forEach(row => {
            const votingEndEpoch = row.querySelector('.voting-end-epoch').textContent;
            const expiryCell = row.querySelector('.voting-expiry');

            if (votingEndEpoch && expiryCell) {
              const blocksPerDay = 60 * 60 * 24 / targetBlockGenerationTime;
              const epochRemaining = votingEndEpoch - currentEpoch;
              const daysRemaining = Math.floor((epochRemaining * votingSetGrouping) / blocksPerDay);

              expiryCell.textContent = epochRemaining > 0 ? `${daysRemaining}` : 'Expired';
            }
          });

          setTimeout(update_voting_key_expiry, 15000);
        })
    };

    update_voting_key_expiry();
  </script>
{% endblock %}
