.landscape-mobile {
    --size-main-content-width: 600px;
    --size-bg-spacer-width: 50px;
    --size-logo-width: 120px;
    --size-logo-height: 30.61px;
    --size-footer-link-icon-width: 30px;
    --size-footer-link-icon-height: 30px;
   
    --font-faucet-address: var(--font-web-mobile-label-icon);
    --font-body: var(--font-web-mobile-body-small);
    --font-body-hero: var(--font-web-mobile-body-small);
    --font-input: var(--font-web-mobile-body-small);
    --font-button: var(--font-web-mobile-button-small);
    --font-footer-link: var(--font-web-mobile-label-icon);

    --typography-body-letter-spacing: var(--typography-web-mobile-body-letter-spacing);
    --typography-button-letter-spacing: var(--typography-web-mobile-button-medium-letter-spacing);
    --typography-button-text-transform: var(--typography-web-mobile-button-medium-text-case);

    --text-crop-body-top: 0;
    --text-crop-body-bottom: 0;

    --text-crop-body-hero-top: 0;
    --text-crop-body-hero-bottom: 0;

    --border-input-width: 2px;
    --border-button-width: 2px;

    --padding-base: 10px;
    --padding-card: 17px 23.75px 20px;
    --padding-form: 0;
    --padding-input: 4.83px 11px 5.17px;
    --padding-button: 4.75px 11px 4.25px;

    --margin-logo: 7px;
    --margin-footer: 16px;
    --margin-control: 16px;
    --margin-base: 16px;
    --margin-paragraph-inner: 0;

    --display-mobile-bg: block;
    --display-desktop-bg: none;
    --display-portrait-form: none;
    --display-landscape-form: block;
}
