.portrait-large {
    --size-main-content-width: 600px;
    --size-bg-spacer-width: 460px;
    --size-logo-width: 280.86px;
    --size-logo-height: 139.33px;
    --size-footer-link-icon-width: 56px;
    --size-footer-link-icon-height: 56px;
   
    --font-faucet-address: var(--font-web-large-body);
    --font-body: var(--font-web-large-body);
    --font-body-hero: var(--font-web-large-body);
    --font-input: var(--font-web-large-body);
    --font-button: var(--font-web-large-button-medium);
    --font-footer-link: var(--font-web-large-label-icon);

    --typography-body-letter-spacing: var(--typography-web-large-body-letter-spacing);
    --typography-button-letter-spacing: var(--typography-web-large-button-medium-letter-spacing);
    --typography-button-text-transform: var(--typography-web-large-button-medium-text-case);

    --text-crop-body-top: -6px;
    --text-crop-body-bottom: -6px;

    --text-crop-body-hero-top: -6px;
    --text-crop-body-hero-bottom: -6px;

    --border-input-width: 2px;
    --border-button-width: 2px;

    --padding-base: 32px;
    --padding-form: 32px;
    --padding-input: 11px 11px 12px;
    --padding-button: 12px 32px 10px;

    --margin-logo: 29.15px;
    --margin-footer: 36px;
    --margin-control: 32px;
    --margin-base: 36px;
    --margin-paragraph-inner: 25px;

    --display-mobile-bg: none;
    --display-desktop-bg: block;
    --display-portrait-form: block;
    --display-landscape-form: none;
}
