.container-full-list {
    display: block;
}

.container-responsive-list {
    display: none;
}

.container-responsive-list-more {
    margin-left: 0.5rem;
}

@media (max-width: 960px) {
    .container-full-list {
        display: none;
    }

    .container-responsive-list {
        display: flex;
    }

    .container-responsive-list-visible {
        padding-top: 1rem;
    }
}
