builds:
  - name: Bridge
    path: bridge

  - name: Explorer Frontend
    path: explorer/frontend

  - name: Explorer Nodewatch
    path: explorer/nodewatch

  - name: Explorer Rest
    path: explorer/rest

  - name: Faucet Authenticator
    path: faucet/authenticator

  - name: Faucet Backend
    path: faucet/backend

  - name: Faucet Frontend
    path: faucet/frontend

  - name: Light API Python
    path: lightapi/python

  - name: Shoestring
    path: tools/shoestring

  - name: Vanity Address Generator
    path: tools/vanity

  - name: Wallet Common Core
    path: wallet/common/core

  - name: Wallet Common Symbol
    path: wallet/common/symbol

customBuilds:
  - name: Nightly Job
    jobName: nightlyJob
    scriptPath: .github/jenkinsfile/nightlyBuild.groovy
    triggers:
      - type: cron
        schedule: '@midnight'

  - name: Weekly Job
    jobName: weeklyJob
    scriptPath: .github/jenkinsfile/weeklyBuild.groovy
    triggers:
      - type: cron
        schedule: '@weekly'

  - name: Update Submodule
    jobName: updateSubmoduleJob
    scriptPath: .github/jenkinsfile/updateSubmodule.groovy
    triggers:
      - type: cron
        schedule: H H(3-7) * * 2
