builds:
  - name: Explorer Frontend
    path: explorer/frontend

  - name: Explorer Nodewatch
    path: explorer/nodewatch

  - name: Explorer Rest
    path: explorer/rest

  - name: Faucet Authenticator
    path: faucet/authenticator

  - name: Faucet Backend
    path: faucet/backend

  - name: Faucet Frontend
    path: faucet/frontend

  - name: Light API Python
    path: lightapi/python

  - name: Shoestring
    path: tools/shoestring

  - name: Vanity Address Generator
    path: tools/vanity

customBuilds:
  - name: Nightly Job
    jobName: nightlyJob
    scriptPath: .github/jenkinsfile/nightlyBuild.groovy
    triggers:
      - type: cron
        schedule: '@midnight'

  - name: Weekly Job
    jobName: weeklyJob
    scriptPath: .github/jenkinsfile/weeklyBuild.groovy
    triggers:
      - type: cron
        schedule: '@weekly'
