version: 2
updates:

  - package-ecosystem: pip
    directory: /lightapi/python
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [LightAPI]
    commit-message:
      prefix: '[dependency]'

  - package-ecosystem: pip
    directory: /explorer/nodewatch
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Explorer]
    commit-message:
      prefix: '[dependency]'

  - package-ecosystem: pip
    directory: /optin/puller
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Opt-In]
    commit-message:
      prefix: '[dependency]'
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: npm
    directory: /optin/reporting
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Opt-In]
    versioning-strategy: increase
    commit-message:
      prefix: '[dependency]'
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: npm
    directory: /optin/reporting/client
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Opt-In]
    versioning-strategy: increase
    commit-message:
      prefix: '[dependency]'
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: pip
    directory: /tools/vanity
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: ['Change: Tools']
    commit-message:
      prefix: '[dependency]'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    commit-message:
      prefix: '[dependency]'

  - package-ecosystem: npm
    directory: /faucet/authenticator
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Faucet Authenticator]
    versioning-strategy: increase
    commit-message:
      prefix: '[dependency]'

  - package-ecosystem: npm
    directory: /faucet/backend
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Faucet Backend]
    versioning-strategy: increase
    commit-message:
      prefix: '[dependency]'

  - package-ecosystem: npm
    directory: /faucet/frontend
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Faucet Frontend]
    versioning-strategy: increase
    commit-message:
      prefix: '[dependency]'
