version: 2

multi-ecosystem-groups:
  products:
    schedule:
      interval: weekly
      day: sunday
    labels: ['dependencies']
    commit-message:
      prefix: '[dependency]'
    target-branch: dev

updates:

  - package-ecosystem: github-actions
    multi-ecosystem-group: products
    directory: /
    groups:
      github-action-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    multi-ecosystem-group: products
    versioning-strategy: increase-if-necessary
    groups:
      npm-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    directories:
      - /explorer/frontend
      - /faucet/authenticator
      - /faucet/backend
      - /faucet/frontend
      - /wallet/common/core
      - /wallet/common/ethereum
      - /wallet/common/symbol

  - package-ecosystem: pip
    multi-ecosystem-group: products
    versioning-strategy: increase-if-necessary
    groups:
      pip-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    directories:
      - /bridge
      - /explorer/nodewatch
      - /explorer/rest
      - /lightapi/python
      - /tools/shoestring
      - /tools/vanity
