version: 2
updates:

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    commit-message:
      prefix: '[dependency]'
    groups:
      github-action-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /explorer/frontend
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Explorer Frontend]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      explorer-frontend-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: pip
    directory: /bridge
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Bridge]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      bridge-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: pip
    directory: /explorer/nodewatch
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Explorer]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      explorer-nodewatch-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: pip
    directory: /explorer/rest
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Explorer]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      explorer-rest-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /faucet/authenticator
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Faucet Authenticator]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      faucet-authenticator-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /faucet/backend
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Faucet Backend]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      faucet-backend-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /faucet/frontend
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Faucet Frontend]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      faucet-frontend-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: pip
    directory: /lightapi/python
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [LightAPI]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      light-python-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: pip
    directory: /tools/shoestring
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: ['Shoestring']
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      tools-shoestring-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: pip
    directory: /tools/vanity
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: ['Vanity']
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      tools-vanity-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /wallet/common/core
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Wallet Common Core]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      wallet-common-core-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /wallet/common/symbol
    schedule:
      interval: weekly
      day: sunday
    target-branch: dev
    labels: [Wallet Common Symbol]
    versioning-strategy: increase-if-necessary
    commit-message:
      prefix: '[dependency]'
    groups:
      wallet-common-symbol-dependencies:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
