@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --title: #0d0d0d;
    --sub-title: #545454;
    --background: #f0f0f0;
    --primary: #d9d9d9;
    --secondary: #c4c4c4;
    --green: #003300;
  }
  .dark {
    --title: #f2f2f2;
    --sub-title: #ababab;
    --background: #0f0f0f;
    --primary: #272727;
    --secondary: #3b3b3b;
    --green: #7afc7a;
  }
}

body {
  background: var(--background);
  color: var(--title);
}
