.portrait-mobile {
	--size-main-content-width: 400px;
	--size-bg-spacer-width: 484px;
	--size-logo-width: 163px;
	--size-logo-height: 74.96px;
	--size-footer-link-icon-width: 48px;
	--size-footer-link-icon-height: 48px;

	--font-faucet-address: var(--font-web-mobile-body);
	--font-body: var(--font-web-mobile-body);
	--font-body-hero: var(--font-web-mobile-body);
	--font-input: var(--font-web-mobile-body);
	--font-button: var(--font-web-mobile-button-medium);
	--font-footer-link: var(--font-web-mobile-label-icon);

	--typography-body-letter-spacing: var(--typography-web-mobile-body-letter-spacing);
	--typography-button-letter-spacing: var(--typography-web-mobile-button-medium-letter-spacing);
	--typography-button-text-transform: var(--typography-web-mobile-button-medium-text-case);

	--text-crop-body-top: -5px;
	--text-crop-body-bottom: -5px;

	--text-crop-body-hero-top: -5px;
	--text-crop-body-hero-bottom: -5px;

	--border-input-width: 2px;
	--border-button-width: 2px;

	--padding-base: 16px;
	--padding-form: 16px;
	--padding-input: 11px 11px 12px;
	--padding-button: 12px 32px 10px;

	--margin-logo: 16px;
	--margin-footer: 24px;
	--margin-control: 32px;
	--margin-base: 24px;
	--margin-paragraph-inner: 16px;

	--display-mobile-bg: block;
	--display-desktop-bg: none;
	--display-portrait-form: block;
	--display-landscape-form: none;
}
