.p-dialog-header {
    background: var(--color-darkmode-bg-gray) !important;
    color: var(--color-darkmode-text-title) !important;
}

.p-dialog-content {
    background: var(--color-darkmode-bg-gray) !important;
    color: var(--color-darkmode-text-body) !important;
}

.dialog-balance-list > .p-dialog-content {
    text-align: right;
}