NATIVE_MOSAIC_ID=nem.xem
NATIVE_MOSAIC_TICKER=XEM
NATIVE_MOSAIC_DIVISIBILITY=6
BLOCKCHAIN_UNWIND_LIMIT=360
REQUEST_TIMEOUT=15000
API_BASE_URL=http://localhost:4000/api/nem
SUPERNODE_API_URL=https://nem.io/supernode/api
NODELIST_URL=http://localhost:5001/api/nem/nodes
MARKET_DATA_URL=https://min-api.cryptocompare.com/data/price?fsym=XEM&tsyms=USD
HISTORICAL_PRICE_URL=https://min-api.cryptocompare.com/data/pricehistorical?fsym=XEM&tsyms=USD
SOCIAL_URL_TWITTER=https://twitter.com/NEMofficial
SOCIAL_URL_GITHUB=https://github.com/symbol
SOCIAL_URL_DISCORD=
FOOTER_URL_DOCS=https://docs.symbol.dev
FOOTER_URL_TECHNICAL_REFERENCE=https://docs.symbol.dev
FOOTER_URL_FAUCET=
FOOTER_URL_SUPERNODE_PROGRAM=
