@import "../variables";

.container {
    overflow: hidden;
    border-radius: 50%;
}

.containerSm {
    width: 2rem;
    height: 2rem;
}

.containerMd {
    width: 2.67rem;
    height: 2.67rem;
}

.containerLg {
    width: 6.67rem;
    height: 6.67rem;
}

.image {
    width: 100%;
    height: 100%;
}
