@import "../variables";

.container {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.containerSm {
    width: $spacing-base * 3;
    height: $spacing-base * 3;
}

.containerMd {
    width: $spacing-base * 4;
    height: $spacing-base * 4;
}

.containerLg {
    width: 4.67rem;
    height: 4.67rem;
}

.containerXl {
    width: 6.67rem;
    height: 6.67rem;
}

.image {
    width: 100%;
    height: 100%;
}

.imageTransactionType {
    width: 30%;
    height: 30%;
}

.imageContainerTransactionType {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter: invert(1);
}

.accountImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.accountIdenticon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.accountIcon {
    width: 50%;
    height: 50%;
}

%dot {
    position: absolute;
    right: 8%;
    bottom: 8%;
    width: $spacing-base;
    height: $spacing-base;
    border: $spacing-base / 4 solid $color-background-card;
    border-radius: 50%;
}

.dotGreen {
    @extend %dot;

    background-color: $color-success;
}

.dotRed {
    @extend %dot;

    background-color: $color-danger;
}
