.buttonCSV {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	min-width: 4rem;
	height: 2rem;
	padding: 0 $spacing-base * 2;
	color: $color-button-text;
	font: $font-button;
	background-color: $color-button-background;
	border-radius: $border-radius-button;
	cursor: pointer;
	user-select: none;

	&:hover {
		color: $color-button-text;
		background-color: $color-button-background;
		opacity: 0.9;
	}
}

@media #{$screen-mobile} {
	.buttonCSV {
		display: none;
		height: $spacing-base * 6;
	}
}
