@import "../variables";

.buttonCSV {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    height: 2rem;
    padding: 0 $spacing-base * 2;
    color: $color-text-button;
    background-color: $color-button-bg;
    cursor: pointer;
    user-select: none;
    font: $font-button;
    border-radius: $border-radius-button;

    &:hover {
        color: $color-text-button;
        background-color: $color-button-bg;
        opacity: 0.9;
    }
}

@media #{$screen-mobile} {
    .buttonCSV {
        height: $spacing-base * 6;
    }
}
