@import '../variables';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.name {
	font: $font-title;
	white-space: pre-line;
	text-align: center;
}

.chartLine {
	width: 100%;
	height: 3.34rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;

	/* stylelint-disable selector-pseudo-class-no-unknown */
	:global(.apexcharts-tooltip) {
		color: $color-text-tooltip !important;
		background: $color-background-tooltip !important;
		border: 1px solid $color-primary !important;
		box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 35%) !important;
	}

	:global(.apexcharts-tooltip-title) {
		color: $color-text-tooltip !important;
		background: $color-background-tooltip !important;
		border-bottom-color: $color-primary !important;
	}

	:global(.apexcharts-tooltip-text),
	:global(.apexcharts-tooltip-y-group),
	:global(.apexcharts-tooltip-series-group),
	:global(.apexcharts-tooltip-text-y-label),
	:global(.apexcharts-tooltip-text-y-value) {
		color: $color-text-tooltip !important;
	}

	:global(.apexcharts-xaxistooltip) {
		color: $color-text-tooltip !important;
		background: $color-background-tooltip !important;
		border-color: $color-primary !important;
	}

	:global(.apexcharts-xaxistooltip::before),
	:global(.apexcharts-xaxistooltip::after) {
		border-bottom-color: $color-background-tooltip !important;
	}
	/* stylelint-enable selector-pseudo-class-no-unknown */
}

.chartDonut {
	width: 100%;
	height: 14rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.chartColumn {
	width: 100%;
	height: 14rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.donutLabel {
	position: absolute;
	top: 6.5rem;
	left: 0;
	width: 100%;
	text-align: center;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
