@import '../variables';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.name {
	font: $font-title;
	white-space: pre-line;
	text-align: center;
}

.chartLine {
	width: 100%;
	height: 3.34rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.chartDonut {
	width: 100%;
	height: 14rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.chartColumn {
	width: 100%;
	height: 14rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.donutLabel {
	position: absolute;
	top: 6.5rem;
	left: 0;
	width: 100%;
	text-align: center;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
