@import "../variables";

.filter {
    width: 100%;

    .list {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: $spacing-base;
    }

    .button {
        height: $spacing-base * 3;
        padding: 0 $spacing-base;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-filter;
        background-color: $color-primary-light;
        cursor: pointer;
        user-select: none;
        transition: all 250ms;
    }

    .buttonActive {
        background-color: $color-primary;
    }

    .buttonDisabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    .text {
        font: $font-tab;
        color: $color-filter-inactive;
    }

    .textActive {
        color: $color-filter-active;
    }

    .icon {
        height: 1rem;
        width: 1rem;
        margin-right: $spacing-base / 2;
    }


    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background-color: #0001;
        animation-name: fade-in;
        animation-duration: 250ms;
        animation-timing-function: linear;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: $spacing-padding;
            box-shadow: 0px 4px 40px 0px rgba(25, 41, 97, 0.29);
            max-width: 41rem;
            margin: 0 $spacing-padding;
            height: 22rem;
        }

        .buttonClose {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        .resultList {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $spacing-base / 2;
            overflow-y: auto;
        }

        .resultItem {
            cursor: pointer;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
