@import "../variables";

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: $spacing-section-gap;
    padding: $spacing-padding $spacing-padding $spacing-padding + $spacing-navigation-height;
    color: $color-text-footer;
    background-color: $color-background-footer;
    box-shadow: 0 -4px 22px rgba(0, 0, 0, 5%);
    backdrop-filter: blur(12px);

    .footerLogo {
        width: $spacing-base * 8;
        height: $spacing-base * 8;
    }
}
