@import '../variables';

.itemTransactionMobile {
	display: flex;
	flex-direction: column;
	gap: $spacing-base * 2;
	width: 100%;

	.mainSection {
		display: flex;
		flex-direction: row;
		gap: $spacing-base;
		width: 100%;

		.info {
			display: flex;
			flex: 1;
			flex-direction: column;

			.name {
				font: $font-body-bold;
			}
		}
	}

	.row {
		display: flex;
		flex-direction: row;
		gap: $spacing-base / 2;
		align-items: center;
	}

	.iconDirection {
		width: 1rem;
		height: 1rem;
	}
}
