@import '../variables';

.itemNamespaceMobile {
	display: flex;
	flex-direction: column;
	gap: $spacing-base * 2;
	width: 100%;

		.mainSection {
			align-items: flex-start;
			display: flex;
			flex-direction: row;
			gap: $spacing-base;
			justify-content: space-between;
			width: 100%;

			.info {
				display: flex;
				flex: 1;
				flex-direction: column;
				min-width: 0;

				.name {
					font: $font-body-bold;
				}

				.namespaceName {
					font: $font-body;
					font-size: 0.83rem;
					overflow-wrap: anywhere;
				}
			}
		}
}
