@import "../variables";


.itemTransactionMobile {
    display: flex;
    flex-direction: row;
    gap: $spacing-base * 2;

    .icon {
        align-self: center;
        width: 1.33rem;
        height: 1.33rem;
    }

    .middle {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: $spacing-base / 2;

        .type {
            font: $font-body-bold;
        }

        .row {
            display: flex;
            flex-direction: row;
            gap: $spacing-base / 2;
            align-items: center;

            .iconDirection {
                width: 1rem;
                height: 1rem;
            }

            .title {
                font: $font-body-bold;
            }
        }
    }

    .end {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
}
