@import "../variables";

.itemMosaicMobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: $spacing-base;

    .info {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
            font: $font-body-bold;
        }
    }
}
