@import "../variables";

.itemAccountMobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: $spacing-base;

    .info {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
            font: $font-body-monospace;
        }

        .labels {
            display: flex;
            flex-direction: row;
            gap: $spacing-base / 2;
        }

        .label__hidden {
            opacity: 0;
        }
    }
}
