@import '../variables';

.chartLine {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container {
	width: 100%;
	height: 3.34rem;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
