.fields {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.progress {
	width: 100%;
	height: $spacing-base * 2;
	overflow: hidden;
	background-color: $color-primary-light;
	border-radius: $border-radius-card;
}

.progressInner {
	height: 100%;
	background-color: $color-primary;
	transition: width 1s ease;
}

.size__small {
	height: $spacing-base * 0.125;
}

.size__medium {
	height: $spacing-base;
}

.size__large {
	height: $spacing-base * 2;
}
