@import '../variables';

.recentBlocks {
	position: relative;
	width: 100%;
}

.blockPreviewScrollable {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: $spacing-padding;
	overflow: auto hidden;

	&::-webkit-scrollbar {
		display: none;
	}
}

%button {
	position: absolute;
	top: 50%;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.buttonLeft {
	@extend %button;

	left: 0;
	transform: translateX(-100%) translateY(-50%);
}

.buttonRight {
	@extend %button;

	right: 0;
	transform: translateX(100%) translateY(-50%);
}
