.textBox {
	z-index: 100;
	width: 100%;
}

.notFoundMessage {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: $spacing-base * 5;
	color: $color-text-empty-table;
}

.loadingIndicator {
	margin: auto;
}
