@import '../variables';

.valueBlockHeight {
	display: flex;
	flex-direction: row;
	gap: $spacing-base / 2;
	align-items: center;
	padding: 0 $spacing-base / 2;
}

.icon {
	width: $spacing-base * 3;
	height: $spacing-base * 3;
}

.title {
	font: $font-body-bold;
}
