@import "../variables";

.table {
    width: 100%;

    .header {
        position: relative;
        position: sticky;
        top: calc($spacing-header-height - 1px);
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 $spacing-base;
        background-color: $color-background-card;

        .headerCell {
            font: $font-title;
        }

        .headerCell_aligned:last-child {
            text-align: right;
        }
    }

    .data {
        overflow: hidden;
        border: 0.16rem solid #F3F4F7;
        border-radius: 0 $border-radius-card $border-radius-card;

        .dataRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-base / 2 $spacing-base;
            background-color: transparent;
            border-bottom: 0.16rem solid #F3F4F7;
            animation-name: fade-in;
            animation-duration: 500ms;
            animation-timing-function: linear;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #F3F4F7;
                transition: background-color 250ms linear;
            }
        }

        .dataCell_aligned:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }

    .listMobile {
        display: none;
    }

    .section {
        margin-top: $spacing-base * 3;
    }

    .sectionHeader {
        display: inline-block;
        padding: $spacing-base / 2;
        background: #F3F4F7;
        border-radius: 1rem 1rem 0 0;
    }

    .emptyListMessage {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: $spacing-base * 5;
        opacity: 0.7;
    }

    .tryAgainButton {
        margin-top: $spacing-base * 2;
        color: $color-primary;
        font: $font-body-bold;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }


    @media #{$screen-mobile} {
        .header {
            display: none;
        }

        .data {
            display: none;
        }

        .dataMobile {
            display: flex !important;
            flex-direction: column;
            gap: $spacing-base;
            overflow-x: auto;
            border: none;

            .dataRow {
                gap: $spacing-base * 2;
                padding: 0 0 $spacing-base;

                &:last-child {
                    padding: 0;
                    border-bottom: none
                }
            }
        }

        .listMobile {
            display: block;

            .itemMobile {
                margin-bottom: $spacing-base * 2;
                padding-bottom: $spacing-base * 2;
                border-bottom: $spacing-base / 4 solid #F3F4F7;
                animation-name: fade-in;
                animation-duration: 250ms;
                animation-timing-function: linear;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .section {
            display: flex;
            flex-direction: column;
        }

        .sectionHeader {
            align-self: center;
            border-top-left-radius: $spacing-base;
            border-top-right-radius: $spacing-base;
        }

        .sectionHeaderLineMobile {
            display: flex;
            width: 100%;
            margin-bottom: $spacing-base * 2;
            border-bottom: $spacing-base / 4 solid #F3F4F7;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
