@import "../variables";

.transactionDirection {
    display: flex;
    flex-direction: row;
    gap: $spacing-base;
    align-items: center;
    justify-content: center;
    width: $spacing-base * 6;
    height: $spacing-base * 2;
    font: $font-body-bold;
    font-size: 0.83rem;
    background: $color-background-mosaic;
    border-radius: $border-radius-label;
    text-transform: uppercase;
    text-align: center;
}

.incoming {
    color: $color-primary;
}

.outgoing {
    color: $color-danger;
}
