.valueLabel {
	display: flex;
	flex-direction: row;
	gap: $spacing-base / 2;
	align-items: center;
	width: fit-content;
	height: $spacing-base * 2;
	padding: 0 $spacing-base * 2 0 $spacing-base * 1.5;
	font: $font-label;
	background: $color-background-mosaic;
	border-radius: $border-radius-label;
}

.valueLabel__noText {
	padding: 0 $spacing-base;
}

.icon {
	width: 1.33rem;
	height: 1.33rem;
}

.success {
	color: $color-success;
}

.warning {
	color: $color-warning;
}

.danger {
	color: $color-danger;
}

.info {
	color: $color-info;
}
