@import '../variables';

.valueTransactionSquares {
	position: relative;
	width: 100%;
	height: 14rem;
	background-color: $color-primary-light;
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.emptyDataMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.loadingIndicator {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.chart {
	animation-name: fade-in;
	animation-duration: 250ms;
	animation-timing-function: linear;
}

.selectedTransaction {
	position: absolute;
	bottom: -$spacing-base;
	left: 0;
	width: 100%;
	height: $spacing-base * 4;
	margin-top: $spacing-base;
	padding-right: $spacing-base;
	background-color: $color-background-card;
	border-radius: $spacing-base * 2;
	box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 5%), 0 0 0.2rem rgba(0, 0, 0, 20%), 0 0.3rem 2rem rgba(0, 0, 0, 5%);
	transform: translateY(100%);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
