@import '../variables';

.transactionDirection {
	display: flex;
	flex-direction: row;
	gap: $spacing-base;
	align-items: center;
	justify-content: center;
	width: $spacing-base * 6;
	height: $spacing-base * 2;
	font: $font-body-bold;
	font-size: 0.83rem;
	text-align: center;
	text-transform: uppercase;
	background: $color-background-mosaic;
	border-radius: $border-radius-label;
}

.incoming {
	color: $color-primary;
}

.outgoing {
	color: $color-danger;
}
