@import "../variables";

.valueAccount {
    display: flex;
    flex-direction: row;
    gap: $spacing-base / 2;
    align-items: center;
    font: $font-body-monospace;
}

.containerMd {
    inline-size: 15rem;
    overflow-wrap: break-word;
}
