.landscape-large {
	--size-main-content-width: 2064px;
	--size-bg-spacer-width: 50px;
	--size-logo-width: 427.97px;
	--size-logo-height: 200.12px;
	--size-footer-link-icon-width: 85.33px;
	--size-footer-link-icon-height: 85.33px;

	--font-faucet-address: 400 33.52px/125% Nunito Sans;
	--font-body: 400 33.52px/150% Nunito Sans;
	--font-body-hero: 400 33.52px/150% Nunito Sans;
	--font-input: 400 33.52px/150% Nunito Sans;
	--font-button: 700 42.67px/100% Abhaya Libre;
	--font-footer-link: 500 18.29px/120% Nunito Sans;

	--typography-body-letter-spacing: var(--typography-web-mobile-body-letter-spacing);
	--typography-button-letter-spacing: var(--typography-web-mobile-button-medium-letter-spacing);
	--typography-button-text-transform: var(--typography-web-mobile-button-medium-text-case);

	--text-crop-body-top: 0;
	--text-crop-body-bottom: 0;

	--text-crop-body-hero-top: 0;
	--text-crop-body-hero-bottom: 0;

	--border-input-width: 3px;
	--border-button-width: 3px;

	--padding-base: 88px;
	--padding-card: 104px 88px;
	--padding-form: 0;
	--padding-input: 16.64px 16.76px 18.69px;
	--padding-button: 22.69px 22.69px 19.64px;

	--margin-logo: 30px;
	--margin-footer: 93px;
	--margin-control: 30.48px;
	--margin-base: 30.48px;
	--margin-paragraph-inner: 20px;

	--display-mobile-bg: block;
	--display-desktop-bg: none;
	--display-portrait-form: none;
	--display-landscape-form: block;
}
