openapi: 3.0.3
info:
  title: NodeWatch API Documentation
  description: >
    API providing information about NEM and Symbol blockchain networks, including nodes, network heights, and time-series node statistics.
  version: 1.0.0

servers:
  - url: https://nodewatch.symbol.tools/testnet
    description: Testnet server
  - url: https://nodewatch.symbol.tools
    description: Mainnet server

tags:
  - name: NEM nodes
    description: Endpoints providing NEM node and height information.
  - name: Symbol nodes
    description: Endpoints providing Symbol node, height, and statistics.

paths:
  /api/nem/nodes:
    get:
      summary: Returns the list of known NEM nodes
      tags:
        - NEM nodes
      operationId: getNemNodes
      responses:
        200:
          description: The list of known NEM nodes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Node'

  /api/nem/height:
    get:
      summary: Returns NEM heights
      tags:
        - NEM nodes
      operationId: getNemHeight
      responses:
        200:
          description: Height and finalized height
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeightInfo'

  /api/nem/nodes/count:
    get:
      summary: Returns NEM node count time series
      tags:
        - NEM nodes
      operationId: getNemNodesCount
      responses:
        200:
          description: Time series of node counts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesNodesCount'

  /api/symbol/nodes/api:
    get:
      summary: Returns Symbol API-only nodes
      tags:
        - Symbol nodes
      operationId: getSymbolApiNodes
      parameters:
        - $ref: '#/components/parameters/OnlySsl'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
      responses:
        200:
          description: List of Symbol API-only nodes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Node'

  /api/symbol/nodes/peer:
    get:
      summary: Returns Symbol nodes with peer role
      tags:
        - Symbol nodes
      operationId: getSymbolPeerNodes
      parameters:
        - $ref: '#/components/parameters/OnlySsl'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Order'
      responses:
        200:
          description: List of Symbol peer nodes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Node'

  /api/symbol/nodes/mainPublicKey/{main_public_key}:
    get:
      summary: Returns Symbol node by main public key
      tags:
        - Symbol nodes
      operationId: getSymbolNodeByMainPublicKey
      parameters:
        - name: main_public_key
          in: path
          required: true
          schema:
            type: string
            pattern: '^[0-9A-Fa-f]{64}$'
          example: E3FC28889BDE31406465167F1D9D6A16DCA1FF67A3BABFA5E5A8596478848F78
      responses:
        200:
          description: The node information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        400:
          description: 'Invalid main public key'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: 'There is no node with the given main public key'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/symbol/nodes/nodePublicKey/{node_public_key}:
    get:
      summary: Returns Symbol node by node public key
      tags:
        - Symbol nodes
      operationId: getSymbolNodeByNodePublicKey
      parameters:
        - name: node_public_key
          in: path
          required: true
          schema:
            type: string
            pattern: '^[0-9A-Fa-f]{64}$'
          example: E3FC28889BDE31406465167F1D9D6A16DCA1FF67A3BABFA5E5A8596478848F78
      responses:
        200:
          description: The node information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
        400:
          description: 'Invalid node public key'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: 'There is no node with the given node public key'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/symbol/height:
    get:
      summary: Returns Symbol heights
      tags:
        - Symbol nodes
      operationId: getSymbolHeight
      responses:
        200:
          description: Height and finalized height
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeightInfo'

  /api/symbol/nodes/count:
    get:
      summary: Returns Symbol node count time series
      tags:
        - Symbol nodes
      operationId: getSymbolNodesCount
      responses:
        200:
          description: Time series of node counts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesNodesCount'

components:
  parameters:
    OnlySsl:
      name: only_ssl
      in: query
      required: false
      description: Filter nodes with HTTPS support
      schema:
        type: boolean
        default: false
    Limit:
      name: limit
      required: false
      in: query
      description: Maximum number of nodes to return (0 means all items).
      schema:
        type: integer
        minimum: 0
        default: 0
    Order:
      name: order
      required: false
      in: query
      description: Order of returned nodes
      schema:
        type: string
        enum: [random]

  schemas:
    Node:
      type: object
      description: Node information gathered from the chain by Nodewatch
      required:
        - mainPublicKey
        - nodePublicKey
        - endpoint
        - name
        - version
        - height
        - finalizedHeight
        - balance
      properties:
        mainPublicKey:
          type: string
          description: Main public key of the node
          pattern: '^[0-9A-Fa-f]{64}$'
          example: E3FC28889BDE31406465167F1D9D6A16DCA1FF67A3BABFA5E5A8596478848FCC
        nodePublicKey:
          type: string
          description: Node public key of the node
          pattern: '^[0-9A-Fa-f]{64}$'
          example: E3FC28889BDE31406465167F1D9D6A16DCA1FF67A3BABFA5E5A8596478848FCC
          nullable: true
        endpoint:
          type: string
          format: uri
          description: Endpoint of the node
          example: http://001-sai-dual.symboltest.net:3000
        name:
          type: string
          description: Name of the node
          example: 201-sai-dual
        version:
          type: string
          description: Node version
          example: 1.0.3.8
        height:
          type: integer
          format: int64
          minimum: 1
          description: Current blockchain height
          example: 2645184
        finalizedHeight:
          type: integer
          format: int64
          minimum: 1
          description: Current blockchain finalized height
          example: 2643592
        balance:
          type: number
          format: float
          minimum: 0
          description: Current balance of node account
          example: 1.761056
        finalizedEpoch:
          type: integer
          minimum: 1
          description: Finalized epoch
          example: 3673
        finalizedHash:
          type: string
          pattern: '^[0-9A-Fa-f]{64}$'
          description: Hash of the finalized block
          example: 6C4B9C101C803FE7DCFB77531F78D32BE68C17995A8005CD2F74F1BC6228CD86
          nullable: true
        finalizedPoint:
          type: integer
          minimum: 1
          description: Point of the latest finalized block
          example: 29
        isHealthy:
          type: boolean
          description: | 
            Indicates the health status of an API node. 
            For Symbol true if both the node and MongoDB are responsive, false if either is unresponsive, 
            and null if the node is not an API or light node
          example: true
          nullable: true
        isSslEnabled:
          type: boolean
          description: Specifies whether the node endpoint uses SSL
          example: true
          nullable: true
        restVersion:
          type: string
          description: Version of the REST API running on the node
          example: 2.4.4
          nullable: true
        geoLocation:
          type: object
          description: Node geolocation data
          properties:
            city:
              type: string
              example: Seattle
            continent:
              type: string
              example: North America
            country:
              type: string
              example: United States
            isp:
              type: string
              example: Contabo Inc.
            lat:
              type: number
              format: double
              example: 47.3066
            lon:
              type: number
              format: double
              example: -122.2619
            region:
              type: string
              example: 'WA'
        roles:
          type: integer
          description: |
            For Symbol node number that defines the different roles the node provides. Possible roles are:
            * 1 - Peer node.
            * 2 - API node.
            * 4 - Voting node.

            The values are bitwise added together, for example:
            1 = Only Peer.
            2 = Only API.
            3 = Both Peer and API node.
            7 = Peer, API and Voting node.
          example: 3

    HeightInfo:
      type: object
      description: Node heights information
      required:
        - height
        - finalizedHeight
      properties:
        height:
          type: integer
          format: int64
          minimum: 1
          description: Blockchain height
        finalizedHeight:
          type: integer
          format: int64
          minimum: 1
          description: Blockchain finalized height

    TimeSeriesNodesCount:
      type: array
      description: |
        List of node count records over time.
        The `values` object contains `total` and role-specific counts.  
        Keys `1`–`7` correspond to role combinations as described in `Node.roles`, and apply only to Symbol nodes (not NEM nodes).
      items:
        type: object
        required:
          - date
          - values
        properties:
          date:
            type: string
            format: date
            example: 2025-08-11
          values:
            type: object
            required:
              - total
            properties:
              total:
                type: integer
                description: Total count of nodes
                example: 16
              "1":
                type: integer
                description: Count of the nodes with roles = 1
                example: 3
              "2":
                type: integer
                description: Count of the nodes with roles = 2
                example: 0
              "3":
                type: integer
                description: Count of the nodes with roles = 3
                example: 7
              "4":
                type: integer
                description: Count of the nodes with roles = 4
                example: 0
              "5":
                type: integer
                description: Count of the nodes with roles = 5
                example: 1
              "6":
                type: integer
                description: Count of the nodes with roles = 6
                example: 0
              "7":
                type: integer
                description: Count of the nodes with roles = 7
                example: 5

    ErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: integer
          description: Error status code
        message:
          type: string
          description: Error message
