.bgContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-position: center;
}

.mainContainerWrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.mainContainer {
  width: 100%;
  max-width: 600px;
  padding: 20px 0 0;
  margin: auto;
  position: relative;
  text-align: center;
}

.tableContainer {
  min-height: 0;
  overflow-x: hidden;
  flex: 1;
}