@import "./variables";

%clear-root {
    margin: 0;
    padding: 0;
}

%fill {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    touch-action: manipulation;
}

html,
body,
#__next {
    @extend %clear-root;
    @extend %fill;

    color: $color-text-body;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 16px;
    background-color: $color-background-main;
}

#__next {
    font: $font-body;
}

h1 {
    font: $font-h1;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font: $font-h2;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font: $font-h3;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin: 0;
    font: $font-h4;
    margin-block-start: 0;
    margin-block-end: 0
}

a {
    color: inherit;
    color: $color-text-link;
    text-decoration: inherit;
    transition: color 250ms;

    &:hover {
        color: unset;
    }
}

.value-highlighted {
    font: $font-highlighted;
}

.value-description {
    opacity: 0.3;
}

.overflow-hidden {
    position: fixed;
    overflow: hidden;
}

.layout-flex-fill {
    flex: 1;
}

.layout-flex-row-mobile-col {
    display: flex;
    flex-direction: row;
    gap: $spacing-padding;
    justify-content: space-between;
}

.layout-flex-row {
    display: flex;
    flex-direction: row;
    gap: $spacing-padding;
    justify-content: space-between;
}

.layout-flex-row-stacked {
    display: flex;
    flex-flow: row wrap;
    gap: $spacing-padding;
}

.layout-section-row {
    display: flex;
    flex-direction: row;
    gap: $spacing-padding;
    justify-content: space-between;
}

.layout-grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.layout-align-end {
    align-self: flex-end;
}


.layout-flex-col {
    display: flex;
    flex-direction: column;
    gap: $spacing-padding;
}

.layout-flex-col-fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-fields;
}

.stripes {
    & > *:nth-child(even) {
        background-color: #fcfcfc;
    }

    & > *:hover {
        background-color: #fafafa;
        transition: color 250ms;
    }
}

.toast-container {
    top: $spacing-header-height;
}

:root {
    --toastify-color-info: $color-info;
    --toastify-color-success: $color-success;
    --toastify-color-warning: $color-warning;
    --toastify-color-error: $color-danger;
    --toastify-toast-width: 20rem;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 2rem;
    --toastify-toast-max-height: 5rem;
}

.disable-scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

@media #{$screen-large} {
    html,
    body,
    #root {
        font-size: $multiplier-font-large;
    }
}

@media #{$screen-desktop} {
    html,
    body,
    #root {
        font-size: $multiplier-font-desktop;
    }
}

@media #{$screen-laptop} {
    html,
    body,
    #root {
        font-size: $multiplier-font-laptop;
    }
}

@media #{$screen-mobile} {
    html,
    body,
    #root {
        font-size: $multiplier-font-mobile;
    }

    .layout-flex-row-mobile-col {
        flex-direction: column;
        justify-content: space-between;
    }

    .layout-section-row {
        flex-direction: column;
        gap: 0;
        justify-content: space-between;
    }

    .no-mobile {
        display: none;
    }
}


// Animations & Transitions

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.grid {
    background: repeating-linear-gradient(
        to bottom,
        #e5120355 0,
        #e5120355 $spacing-base / 2,
        #fff0 $spacing-base / 2,
        #fff0 $spacing-base
    );
}
