@import '../styles/variables';

.sectionHeight {
	display: flex;
	flex: 1;
	flex-direction: row;
	gap: $spacing-padding;
	justify-content: space-between;
}

.sectionEpoch {
	display: flex;
	flex: 2;
	flex-direction: column;
	gap: $spacing-fields;
}

.eta {
	color: $color-text-body;
}
