$screen-desktop: "(min-width: 2560px)";
$screen-tablet-lg: "(max-width: 2559.8px) and (min-width: 1024px)";
$screen-tablet-sm: "(max-width: 1023.8px) and (min-width: 768px)";
$screen-mobile: "(max-width: 767.8px)";
