// Carbon

@font-face {
    font-weight: 700;
    font-family: "Carbon";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Carbon/Carbon-Bold.otf") format("opentype");
}

@font-face {
    font-weight: 700;
    font-family: "Carbon";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Carbon/Carbon-Bold-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 400;
    font-family: "Carbon";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Carbon/Carbon-Regular.otf") format("opentype");
}

@font-face {
    font-weight: 400;
    font-family: "Carbon";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Carbon/Carbon-Regular-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 100;
    font-family: "Carbon";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Carbon/Carbon-Thin.otf") format("opentype");
}

@font-face {
    font-weight: 100;
    font-family: "Carbon";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Carbon/Carbon-Thin-Italic.otf") format("opentype");
}

// Rajdhani

@font-face {
    font-weight: 700;
    font-family: "Rajdhani";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
}

@font-face {
    font-weight: 600;
    font-family: "Rajdhani";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
}

@font-face {
    font-weight: 500;
    font-family: "Rajdhani";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
}

@font-face {
    font-weight: 400;
    font-family: "Rajdhani";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
}

@font-face {
    font-weight: 300;
    font-family: "Rajdhani";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
}

// Protipo

@font-face {
    font-weight: 800;
    font-family: "Protipo";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Extrabold.otf") format("opentype");
}

@font-face {
    font-weight: 800;
    font-family: "Protipo";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Extrabold-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 700;
    font-family: "Protipo";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Bold.otf") format("opentype");
}

@font-face {
    font-weight: 700;
    font-family: "Protipo";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Bold-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 600;
    font-family: "Protipo";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Semibold.otf") format("opentype");
}

@font-face {
    font-weight: 600;
    font-family: "Protipo";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Semibold-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 500;
    font-family: "Protipo";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Medium.otf") format("opentype");
}

@font-face {
    font-weight: 500;
    font-family: "Protipo";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Medium-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 400;
    font-family: "Protipo";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Regular.otf") format("opentype");
}

@font-face {
    font-weight: 400;
    font-family: "Protipo";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Regular-Italic.otf") format("opentype");
}

@font-face {
    font-weight: 300;
    font-family: "Protipo";
    font-style: normal;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Light.otf") format("opentype");
}

@font-face {
    font-weight: 300;
    font-family: "Protipo";
    font-style: italic;
    src:
        local(""),
        url("../assets/fonts/Protipo/Protipo-Light-Italic.otf") format("opentype");
}
