.pagination {
  display: flex;
  justify-content: center;

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

 .sub-total-value {
  font-weight: bold;
  text-decoration: underline;
  border: 1px solid !important;
  padding: 5px;
}

.copy-button {
  margin-left: 1rem !important;
  color: rgb(218, 218, 218) !important;
  width: 1rem !important;
  padding: 0 0 0 !important;
  &:hover {
    background-color: transparent !important;
    color: var(--primary-color) !important;
  }
}

.list-item {
  font-family: monospace;
}

.address {
  text-overflow: ellipsis;
  max-width: 18rem;
  overflow: hidden;
  white-space: nowrap;
}

.download-button {
  float: right;
  margin: 0 auto !important;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 11px !important;
  }
}
