html, body, #root, .App {
  margin: 0;
  width: 100%;
  height: 100%;
}

.p-tabview, 
.p-tabview-panel, 
.p-datatable, 
.p-datatable-wrapper, 
.p-datatable-table {
  height: 100%;
  flex: 1;
}

.p-tabview-panels {
  padding: 0 !important;
  height: calc(100% - 58px);
}

p-tabview, 
.p-datatable {
  display: flex;
  flex-direction: column;
}

.p-datatable-wrapper {
  overflow: auto;
}

.p-datatable-thead {
  position: sticky;
  top: -1px;
  z-index: 2;

  & > tr > th {
    box-shadow: inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
  }
}

.p-rowgroup-header {
  display: none;
}

.p-datatable-loading-overlay {
  z-index: 10 !important;
}

tr {
  height: 0;
}

.pagination {
  display: flex;
  justify-content: center;

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.sub-total-value {
  @extend .list-item;
  font-weight: bold;
  text-decoration: underline;
}

.copy-button {
  margin-left: 1rem !important;
  color: rgb(218, 218, 218) !important;
  width: 1rem !important;
  padding: 0 0 0 !important;
  &:hover {
    background-color: transparent !important;
    color: var(--primary-color) !important;
  }
}

.list-item {
  font-family: monospace;
  height: 1.2rem;
}

.timestamp {
  font-size: 0.8rem;
  white-space: nowrap;
}

.download-button {
  float: right;
  margin: 0 auto !important;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px !important;
  }
}

a {
  text-decoration: none;
}

.p-selectbutton .p-button {
  padding: 0.75rem 0.5rem !important;
}