.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	background-color: #eef5f9;
	background-size: cover;
	background-blend-mode: color-burn;
	transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/images/bg-tree-left.png'), url('/images/bg-tree-right.png');
		background-repeat: no-repeat;
		background-position: top left, bottom right;
		background-size: 50.41rem 50.33rem, 24.25rem 49.92rem;
		content: '';
	}
}
