---
extends:
  - airbnb
  - ../../linters/javascript/default.eslintrc
rules:
  import/extensions:
  - error
  - ignorePackages
globals:
  snap: 'readonly'
overrides:
  - files:
      - '*_spec.js'
    extends:
      - '@metamask/eslint-config-jest'
ignorePatterns:
  - 'dist/'
