---
extends:
- eslint-config-next
- plugin:import/react
- plugin:jsdoc/recommended-error
- ../../linters/javascript/default.eslintrc
plugins:
  - '@stylistic/js'
rules:
  '@stylistic/js/eol-last':
    - error
    - always
  import/extensions:
    - error
    - always
    - json: always
      js: never
      jsx: never
