@import '../variables';

.wrapper {
	height: 100%;
}

.firstSection {
	max-width: 32rem;

	.firstSectionCard {
		height: 36rem;
	}
}

.secondSectionCard {
	min-height: 36rem;
}

.valueTransactionSquares {
	height: 18rem;
}

.merkleRoots {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: $spacing-fields $spacing-padding;
	min-width: 0;
}

.merkleRoot {
	min-width: 0;
}

.merkleRootTitle {
	font: $font-title;
}

.merkleSeparator {
	height: 1px;
	background-color: $color-separator-line-neutral;
}

@media #{$screen-mobile} {
	.firstSection {
		max-width: 100%;

		.firstSectionCard {
			height: auto;
		}
	}

	.secondSectionCard {
		height: auto;
	}

	.merkleRoots {
		grid-template-columns: 1fr;
	}
}
