@import '../variables';

.wrapper {
	height: 100%;
}

.firstSection {
	max-width: 32rem;

	.firstSectionCard {
		min-height: 36rem;
	}
}

.secondSectionCard {
	min-height: 36rem;
}

.valueTransactionSquares {
	height: 18rem;
}

@media #{$screen-mobile} {
	.firstSection {
		max-width: 100%;

		.firstSectionCard {
			min-height: 0;
		}
	}

	.secondSectionCard {
		min-height: 0;
	}
}
