.contentContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 100%;
	height: 100%;

	.contentContainerInner {
		width: 100%;
		height: 100%;
		animation-name: fade-in;
		animation-duration: 250ms;
		animation-timing-function: linear;
	}
}

@media #{$screen-large} {
	.contentContainer {
		padding: 0 $spacing-content-container-margin-large;

		.contentContainerInner {
			max-width: $spacing-content-container-width-large;
		}
	}
}

@media #{$screen-desktop} {
	.contentContainer {
		padding: 0 $spacing-content-container-margin-desktop;

		.contentContainerInner {
			max-width: $spacing-content-container-width-desktop;
		}
	}
}

@media #{$screen-laptop} {
	.contentContainer {
		padding: 0 $spacing-content-container-margin-laptop;

		.contentContainerInner {
			max-width: $spacing-content-container-width-laptop;
		}
	}
}

@media #{$screen-mobile} {
	.contentContainer {
		padding: 0 $spacing-content-container-margin-mobile;

		.contentContainerInner {
			max-width: $spacing-content-container-width-mobile;
		}
	}
}


@keyframes fade-in {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 1;
	}
}
