@import '../variables';

.wrapper {
	height: 100%;
}

.firstSection {
	max-width: 32rem;

	.firstSectionCard {
		min-height: 33rem;
		overflow: hidden;
		word-wrap: break-word;
	}
}

.secondSectionCard {
	min-height: 33rem;
}

.restrictionList {
	max-height: 32rem;
	overflow: auto;
}

.restrictionValue {
	overflow-wrap: anywhere;
}

.metadataAddress,
.metadataValue {
	overflow-wrap: anywhere;
}

@media #{$screen-mobile} {
	.firstSection {
		max-width: 100%;

		.firstSectionCard {
			min-height: auto;
		}
	}

	.secondSectionCard {
		min-height: auto;
	}
}
